# Express Backend URL (REST Client calls)
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# FastAPI Service URL (Client-Side REST calls)
NEXT_PUBLIC_AI_URL=http://localhost:8000/ai

# Configurable Landmark Visibility Check Threshold (Default: 0.5)
NEXT_PUBLIC_LANDMARK_CONFIDENCE_THRESHOLD=0.5
